@charset "utf-8";









/* -----------------------------------------------
  header
----------------------------------------------- */
@media screen and ( max-width:767px) { /*　for mobile　*/
	.navbar-desc {
		display: none;
	}
}

.container-fluid {
	//color: $color-00;
	padding-right: 0;
	padding-left: 0;
	.navbar-header.navbar-menu {
		margin-right: 0;
		margin-left: 0;
	}
}

.navbar {
	margin-bottom: 0;
	border: none;
	min-height: 100px;
}

.navbar-inverse {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #111;
	border-color: transparent;
	border-radius: 0;
	.navbar-nav {
		font-size: 20px;
		> li {
			float: left;
			width: 50%;
			> a {
				color: #333;
			}
		}
	}
}

.container-fluid.navbar-nav__usually {
	position: relative;
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav__usually {
	.navbar-nav {
		margin: 0;
		text-align: center;
		li {
			a {
				padding: 0;
				line-height: 100px;
				box-sizing: border-box;
				&:hover {
					@include hover-effects;
				}
				.fa {
					margin-right: 2px;
					font-size: $font-size;
				}
			}
		}
	}
}

.navbar-nav__phone {
	font-size: $font-size;
	z-index: 101;
	.fa-phone {
		transform: rotate(20deg);
		z-index: 101;
	}
}

.navbar-brand {
	height: 100%;
	width: 56%;
	padding: 15px;
	> img {
		position: relative;
		top: 2px;
		&:hover {
			@include hover-effects;
		}
	}
}

.navbar-toggle {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-menu {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	.navbar-collapse {
		width: 100%;

	}
}

.navbar-global {
	margin: 0 -15px;
	li {
		a {
			padding-top: 15px;
			padding-bottom: 15px;
			@include link-color($text-color);
		}
		&:not(:last-child) {
			border-bottom: 1px solid $color-05;
		}
	}
}

.dropdown-toggle {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid $color-05;
}

.dropdown-menu {
	position: relative;
	display: block;
	float: none;
	min-width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-default {
	top: 0px;
	.navbar-nav {
		> li {
			> a {
				color: #333;
			}
		}
	}
}



@media screen and (min-width:768px) { /*　for tablet~　*/
	.navbar {
		> .container-fluid {
			.navbar-brand {
				width: 28%;
				margin-left: 0;
			}
		}
	}

	.container-fluid {
		max-width: $cont-size;
		>.navbar-header {
			display: block;
			font-size: 14px;
			margin-right: 15px;
			margin-left: 15px;
			line-height: 100px;
		}
	}

	.navbar-global {
		position: relative;
		float: right;
		display: flex;
		display:-webkit-flex; /* Safari */
		width: 70%;
		margin: 0;
		> li {
			display: table;
			vertical-align: middle;
			width: 20%;
			border-right: 1px solid $color-02;
			&:first-child {
				border-left: 1px solid $color-02;
			}
			&:not(:last-child) {
				border-bottom: none;
			}
			> a {
				display: table-cell;
				vertical-align: middle;
				margin: 0 auto;
				padding-top: 0;
				padding-bottom: 0;
				width: 100%;
				height: 70px;
				text-align: center;
				
				&:hover {
					background: $color-02;
				}
			}
		}
	}

	.navbar-global {
		.dropdown-toggle {
			display: block;
			text-align: center;
			@include link-color($text-color);
		}
	}

	.dropdown {
		&:hover > .dropdown-menu {
			display: block;
			
		}
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		float: left;
		@include clearfix;
		li {
			width: 100%;
			a {
				max-width: 165px;
			}
		}
	}
}



@media screen and (min-width:768px) and ( max-width:991px ) { /*　for tablet　*/
	.navbar-desc {
		width: 56%;
	}

	.navbar-header {
		float: left;
	}

	.navbar-inverse {
		.navbar-nav {
			width: 40%;
			> li {
				width: 50%;
			}
		}
	}
	
	.navbar-nav {
		font-size: 14px;
	}

	.navbar {
		> .container-fluid {
			.navbar-brand {
				margin-left: 0;
			}
		}
	}

	.dropdown {
		line-height: 39px;
	}
}

.navbar-nav__phone {
	font-size: $font-size;
	//pointer-events: none;
}





@media screen and (min-width:992px) { /*　for tablet　*/
	.navbar-desc {
		float: left;
		position: absolute;
		left: 0;
		display: block;
		position: relative;
		@include clearfix;
	}

	.navbar-nav__usually {
		.navbar-nav {
			position: absolute;
			right: 0;
			li {
				a {
					.fa {
						display: inline-block;
					}
					.fa-phone {
						font-size: $font-large;
					}
				}
			}
		}
	}

	.dropdown {
		line-height: 39px;
	}

	.navbar-inverse {
		.navbar-nav {
			width: 41%;
			font-size: $font-size;
		}
	}

	.navbar-nav__phone {
		font-size: $font-large;
	}
}



@media screen and (min-width:992px) and ( max-width:1199px) { /*　for PC　*/

	.navbar-main {
		height: 80px;
		.navbar-header {
			height: 100%;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.navbar-collapse {
		.navbar-nav {
			position: relative;
		}
	}

	.navbar-brand {
		width: auto;
	}
}


@media screen and (min-width:1200px) { /*　for PC-large　*/

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
		.navbar-brand {
			margin-right: 15px;
			margin-left: 15px;
		}
	}

	.navbar-inverse {
		.navbar-nav {
			width: 34%;
		}
	}
}



/* -----------------------------------------------
  section
----------------------------------------------- */

.well {
	margin-bottom: 0;
	padding: 60px 4% 60px 4%;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}

#answer01_01 {
	padding: 60px 4% 60px 4%
}



@media screen and (min-width:992px) { /*　for PC　*/
	.well {
		padding: 60px;
	}

	#answer01_01 {
		padding: 0 60px 60px 60px;
	}
}


@media screen and (min-width:768px) and ( max-width:1024px) { /*　for tablet　*/
	.container {
		width: initial;
	}
}


@media screen and (min-width:767px) { /*　for PC, tablet　*/
// スマホで上、PCでcol6の右側になる
	.cont-sm-top {
		float: right;
	}

// スマホで下、PCでcol6の左側になる
	.cont-sm-down {
		float: left;
		@include clearfix;

	}
}


/* -----------------------------------------------
  footer
----------------------------------------------- */

footer {
	padding: 60px 4% 20px 4%;
	background: $text-color;
	color: $color-00;
	ul {
		text-align: left;
	}
}

.footer-brand {
	display: block;
	width: 100%;
	margin-top: $margin-top-large;
	margin-bottom: $margin-bottom;
	padding-right: 15px;
	text-align: left;
	&:hover {
		@include hover-effects;
	}
	img {
		width: 100%;
	}
}

.footer-nav {
	display: table;
	width: 100%;
	margin-bottom: 0;
	li {
		float: left;
		width: 50%;
		margin-bottom: $margin-bottom;
		font-size: 14px;
		a {
			@include link-color($color-00);
			&:hover {
				border-bottom: 1px solid $color-00;
			}
		}
	}
}

.footer-add {
	padding-right: 15px;
	font-size: $font-small;
}

.footer-nav-btn {
	display: table;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	ul {
		li {
			&:nth-child(odd) {
				padding-left: 0;
				padding-right: 0;
			}
			a {
				display: block;
				height: 44px;
				line-height: 44px;
				border: 1px solid $color-00;
				border-radius: 4px;
				color: $color-00;
				font-size: $font-small;
				text-align: center;
				&:hover {
					@include hover-effects;
				}
			}
		}
	}
}




@media screen and (min-width:768px) { /*　for tablet~　*/
	.footer-brand {
		margin-top: 0;
	}

	.footer-nav {
		margin-top: 0;
		li {
			width: 33.3%;
		}
	}

	.footer-nav-btn {
		padding-top: 0;
		padding-bottom: 0;
		ul {
			li {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: $margin-bottom;
				&:nth-child(odd) {
					padding-right: 15px;
				}
				a {
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}


@media screen and ( min-width:1200px ) { /*　for PC-large　*/
	footer {
		padding: 60px 0 20px;
	}
}





/* -----------------------------------------------
  privacy
----------------------------------------------- */

.privacy {
	font-size: $font-small;
	h3 {
		@extend .margin-top-large;
	}
	ul {
		padding-left: 20px;
		li {
			list-style-type: disc;
		}
	}
}
