@charset "utf-8";

/* header */

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: rgba(255, 255, 255, 0);
  transition: background 0.3s ease-in-out;
  .sp_h_contact1 {
    display: none;
  }
  .sp_h_contact2 {
    display: none;
  }
  @media screen and (min-width:992px) {
    height: 70px;
  }
}

header h1 {
  display: none;
  margin: 0;
  text-align: left;
  font-family: 'Noto Sans Japanese';
  letter-spacing: 0.15em;
}

header.smaller {
  background: rgba(255, 255, 255, 0.6);
  height: 50px;
  transition-property: background;
  @media screen and (min-width: 992px) {
    height: 70px;
    display: flex;
  }
}

header.smaller h1 {
  display: block;
  position: absolute;
  left: 3px;
  top: 5px;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.1em;
  @media screen and (min-width: 992px) {
    top: 12px;
    left: 30px;
    font-size: 20px;
    padding: 10px 20px;
  }
}

.navbar-nav {
  display: none;
  @media screen and (min-width: 992px) {
    position: absolute;
    right: 0;
    bottom: 32px;
    li {
      display: inline-block;
      margin-left: 15px;
      width: 170px;
      text-align: right;
      a {
        //color: #000;
        padding: 10px 0;
        &:hover {
          @include hover-effects;
        }
      }
    }
    .fa-envelope {
      font-size: 18px;
      padding-right: 0px;
    }
  }
}

header.smaller .navbar-nav {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
    padding-right: 30px;
  }
}

@media screen and (min-width:992px) {
  .headerinner {
    padding: 43px 30px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  header h1 {
    display: none;
  }
}

header.smaller .sp_h_contact1 {
  position: absolute;
  top: -2px;
  right: 63px;
  display: block;
  border: dotted 1px;
  padding: 10px 20px;
  a {
    color: #333;
  }
  .navbar-nav__phone {
    font-size: 1.3em;
  }
  @media screen and (min-width:992px) {
    display: none;
  }
}

header.smaller .sp_h_contact2 {
  position: absolute;
  top: -2px;
  right: 0px;
  display: block;
  border: dotted 1px;
  padding: 11px 20px;
  a {
    color: #333;
  }
  .fa-envelope {
    padding-right: 0px;
    font-size: 18px;
  }
  @media screen and (min-width:992px) {
    display: none;
  }
}

.sp_h_contact1 {
  display: block;
  position: absolute;
  top: -1px;
  right: 64px;
  display: block;
  border: solid 1px;
  padding: 9px 20px;
  a {
    color: #333;
  }
  .navbar-nav__phone {
    font-size: 1.3em;
  }
  @media screen and (min-width:992px) {
    display: none;
  }
}

.sp_h_contact2 {
  display: block;
  position: absolute;
  top: -1px;
  right: 0px;
  display: block;
  border: solid 1px;
  padding: 10px 20px;
  a {
    color: #333;
  }
  .fa-envelope {
    padding-right: 0px;
    font-size: 18px;
  }
  @media screen and (min-width:992px) {
    display: none;
  }
}

//お問い合わせヘッダー
header.contact_header {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  text-align: center;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: rgba(255, 255, 255, 0);
  border-bottom: solid 0.5px #ccc;
  height: 50px;
  h1 {
    display: block;
    text-align: left;
    position: absolute;
    left: 3px;
    top: 5px;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 0.1em;
    font-family: 'Noto Sans Japanese';
  }
  .sp_h_contact1 {
    display: block;
    position: absolute;
    top: -1px;
    right: 64px;
    display: block;
    border: dotted 1px;
    padding: 10px 20px;
    a {
      color: #333;
    }
    .navbar-nav__phone {
      font-size: 1.3em;
    }
    @media screen and (min-width:992px) {
      display: none;
    }
  }
  .sp_h_contact2 {
    display: block;
    position: absolute;
    top: -1px;
    right: 0px;
    display: block;
    border: dotted 1px;
    padding: 11px 20px;
    a {
      color: #333;
    }
    @media screen and (min-width:992px) {
      display: none;
    }
  }
  @media screen and (min-width:992px) {
    height: 70px;
    .headerinner {
      padding: 43px 30px;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    h1 {
      padding: 0px;
      top: 12px;
      left: 30px;
      font-size: 20px;
      padding: 10px 20px;
    }
  }
  .navbar-nav {
    //display: none;
    @media screen and (min-width: 992px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 32px;
      padding-right: 30px;
      li {
        display: inline-block;
        margin-left: 15px;
        width: 170px;
        text-align: right;
        a {
          color: #333;
          padding: 10px 0;
        }
      }
    }
  }
}



div#wrapper {
  overflow: hidden;
}


/* -----------------------------------------------
  main-visual
----------------------------------------------- */

.main-visual {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-image: url(../images/mv.png);
  background-repeat: no-repeat;
  background-position: 84% 0%;
  background-size: cover;
  @media screen and (min-width: 992px) {
    background-size: cover;
  }
}

.main-visual_inner {
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}

.media-cont__text {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 3;
  padding: 0 20px;
  color: #fff;
  font-family: 'Noto Sans Japanese';
  .text1 {
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0 0 50px 0;
    font-weight: bold; //line-height: 32px;
  }
  .text2 {
    padding: 0 15px;
    text-align: left;
  }
  .row {
    display: none;
  }
  .mvbtn {
    margin-top: 80px;
    a {
      color: #fff;
      font-size: 22px;
      padding: 20px 30px 26px;
      background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
      transition: all 1s;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      letter-spacing: 3px;
    }
  }
  .circle-sym {
    display: none;
  }
  .titlebtn {
    a {
      display: block;
      background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 25px;
      font-size: 21px;
      margin: 0 auto;
      border-radius: 10px;
      letter-spacing: 3px;
      margin-top: 60px;
    }
    @media screen and (min-width:992px) {
      margin-right: 12px;
      a {
        font-size: 25px;
        max-width: 500px;
        font-size: 24px;
        transition: all 1s;
        margin-top: 50px;
        padding: 30px 25px;
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
    @media screen and (max-width:320px) {
      a {
        font-size: 18px;
        letter-spacing: 0.15em;
        padding: 20px;
      }
    }
  }
  @media screen and (min-width:992px) {
    .text1 {
      font-size: 62px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      font-weight: bold;
      letter-spacing: 6px;
      margin: 0 0 30px 0;
    }
    .text2 {
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 1.9em;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
    .row {
      display: block;
    }
    .circle-sym {
      display: block;
      background: rgba(255, 255, 255, 0.9);
      width: 140px;
      height: 140px;
      margin: 0 auto;
      color: #ff533d;
      font-size: 16px;
      border-radius: 50%;
      padding-top: 31%;
      line-height: 1.8em;
      display: block;
    }
  }
  @media screen and (max-width:320px) {
   .text1 {
    font-size: 34px;
  }
  }
}

.fa-chevron-circle-right {
  padding-left: 20px;
  font-size: 22px;
}

.fontsmall {
  margin-top: 22%;
}

.main-visual__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.4;
  z-index: 2;
}

.media-cont__movie {
  display: none;
  @media screen and (min-width: 767px) {
    display: block;
    background: url('/video_bg.jpg') no-repeat; // 動画が再生を始めるまで、cssのほうでも背景を設定します。
    background-attachment: fixed; // 中央揃えになるように、fixed。
    background-position: center center; // positionも中央に。
    background-size: cover; // 画面サイズに応じてサイズを可変するように設定。
    left: 0; // 以下、画面いっぱいにするためのCSS設定
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw; // wrapperのサイズに応じて、leftの位置をjQueryで指定するため、positionはabsoluteにします。
    position: absolute;
    top: 0; // z-indexは調整してください。
    z-index: 1;
  }
}

.mv-switch__sp {
  display: block;
  img {
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  @media screen and (min-width:992px) {
    display: none;
  }
}

//炎上補償サービスが選ばれる3つの理由
.circle-sym {
  background: none;
  width: 190px;
  height: 190px;
  margin: 0 auto;
  color: #fff;
  border-radius: 50%;
  display: block; //padding-top: 31%;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  img {
    width: 50%;
    margin-top: 25%;
  }
}

.section2 {
  h3 {
    font-family: 'Noto Sans Japanese';
    color: $main-color;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: 1px;
    margin: 30px 0;
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
  }
  .text {
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.9em;
    span {
      background: linear-gradient(transparent 70%, #ff0 0%);
      font-weight: bold;
    }
    @media screen and (min-width:992px) {
      padding: 0 10px;
    }
  }
}

.section3_inner {
  border-radius: 20px;
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.95);
  margin: 0px;
  dl {
    display: flex;
    border-bottom: dotted 1px #aaa;
  }
  dt {
    clear: left;
    float: left;
    padding: 0px;
    width: 12%;
    @media screen and (min-width: 992px) {
      width: 10%;
    }
  }
  dd {
    //border-bottom: dotted 1px #aaa;
    padding-bottom: 18px;
    letter-spacing: 0.05em;
    width: 85%;
    font-size: 16px;
    @media screen and (min-width: 992px) {
      width: 92%;
    }
  }
  @media screen and (min-width:992px) {
    padding: 60px;
    font-size: 16px;
    border-radius: 40px;
    margin: 0px;
    .subtitle_b {
      margin: 0 0 40px;
    }
    .section3_inner_left {
      display: flex;
      dl {
        width: 40%;
        margin: 0 auto;
        padding-top: 20px;
      }
    }
  }
}

.fa-check-square {
  padding-right: 50px;
  font-size: 22px;
  color: $main-color;
  @media screen and (min-width: 992px) {
    font-size: 24px;
  }
}

.strong {
  color: $main-color;
  font-weight: bold;
  font-size: 16px;
  @media screen and (min-width: 992px) {
    font-size: 18px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

.bg_w {
  background: rgba(255, 255, 255, 0.7);
}

.bg_trouble {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  @media screen and (min-width: 992px) {
    background-size: cover;
  }
}

.bg_contact {
  background: rgba(168, 168, 168, 0.2);
}

//サービス
.box {
  position: relative;
  display: block;
  border-radius: 20px;
  padding: 50px 20px;
  background: #fff;
  margin: 60px 0px;
  &:after {
    content: "";
    border: 20px solid transparent;
    border-top-color: #fff;
    border-bottom-width: 0;
    width: 0;
    position: absolute;
    left: 42%;
    bottom: -20px;
  }
  @media screen and (min-width:992px) {
    margin: 60px 0px 80px;
    padding: 60px;
    border-radius: 40px;
    &:after {
      left: 48%;
    }
  }
  @media screen and (max-width:320px) {
    padding: 50px 4%;
  }
}

.box_inner {
  display: block;
  padding: 20px 0;
  .img {
    //padding: 10px 0 30px;
    background: #f5f5f5;
    border-radius: 20px; //margin: 20px 0;
  }
  .discription {
    margin: 30px 0 60px;
  }
  .discription_2 {
    border: dotted 4px #8d8d8d;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFF4EF;
  }
  .discription_3 {
    margin: 30px 0;
  }
  span {
    background: linear-gradient(transparent 70%, #ff0 0%);
    font-weight: bold;
  }
  @media screen and (min-width:992px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -ms-inline-flexbox;
    -ms-flex-direction: row-reverse;
    padding-top: 20px;
    margin: 0px;
    .discription_0 {
      width: 55%;
      padding-top: 0px;
    }
    .discription {
      padding-top: 0px;
      line-height: 1.9em;
      margin: 0 0 60px;
    }
    .discription_3 {
      width: 55%;
      padding-top: 0px;
      margin: 0;
    }
    .img {
      width: 40%;
      padding: 0px;
      margin: 0px;
    }
  }
}

.section5 .title {
  //font-family: 'Noto Sans Japanese';
  color: #fff;
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  background: #4d4d4d;
  padding: 5px 0;
  text-align: center;
  @media screen and (min-width: 992px) {
    font-size: 24px;
    text-align: left;
    padding: 5px 0px 5px 20px;
  }
}

.discription_type2 {
  padding-top: 20px;
  line-height: 1.9em;
  margin-bottom: 0px;
  span {
    background: linear-gradient(transparent 70%, #ff0 0%);
    font-weight: bold;
  }
}

.box_inner_type2 {
  .row {
    padding: 0px;
  }
  .heading {
    text-align: center;
    font-size: 18px;
    background: #8d8d8d;
    color: #fff;
    padding: 3px 0;
    margin-bottom: 30px;
    @media screen and (max-width: 320px) {
      padding: 5px;
      font-size: 16px;
    }
  }
  .text {
    font-size: 14px;
    margin: 30px 0 60px;
    line-height: 1.9em;
    letter-spacing: 0.5px;
    @media screen and (min-width: 992px) {
      margin: 30px 0 20px;
    }
  }
  span {
    //background: linear-gradient(transparent 70%, #ff0 0%);
    font-weight: bold;
  }
  img {
    background: #f5f5f5;
    border-radius: 20px;
    padding: 0px;
    @media screen and (min-width: 992px) {
      padding: 5px;
    }
  }
  .col-sm-4 {
    padding: 0 15px;
    @media screen and (min-width: 992px) {
      padding: 0 25px;
    }
  }
}

.mb60 {
  margin-bottom: 60px;
  @media screen and (min-width: 992px) {
    margin-bottom: 20px;
  }
}

.section5 {
  .img_pc {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
      text-align: center;
      margin-top: 60px;
    }
  }
  .img_sp {
    display: block;
    text-align: center;
    width: 100%;
    margin: 60px auto 0;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  .row {
    margin-top: 60px;
  }
  .circle-sym {
    background: #fff;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: -18px;
      top: 45%;
      width: 10px;
      height: 10px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    @media screen and (min-width:992px) {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      &:after {
        right: -22px;
        top: 45%;
        width: 15px;
        height: 15px;
      }
    }
  }
  .text1 {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    height: 70px;
    @media screen and (min-width: 992px) {
      font-size: 18px;
      height: none;
    }
  }
}

.col-xs-4:last-child .circle-sym:after {
  border: none;
}

.merit {
  border: dotted 4px #8d8d8d;
  padding: 25px 15px;
  border-radius: 20px;
  margin: 20px 0 60px;
  background-color: #FFF4EF;
  @media screen and (min-width: 992px) {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      z-index: 100;
      height: 100%;
      display: block;
      position: absolute;
      background: url(../images/check.png) no-repeat;
      background-size: 15%;
      right: -30px;
    }
  }
}

.band {
  background: #4d4d4d;
  padding: 30px 0;
  position: relative;
  &:after {
    content: "";
    border: 30px solid transparent;
    border-top-color: #4d4d4d;
    border-bottom-width: 0;
    width: 0;
    position: absolute;
    left: 42%;
    bottom: -29px;
  }
  @media screen and (min-width:992px) {
    &:after {
      left: 48%;
    }
  }
}

.band_inner_1 {
  display: block;
  text-align: center;
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .band_inner_3 {
      position: absolute;
      right: 0;
      top: -55px;
      img {
        width: 90%;
      }
    }
  }
}

.band_inner_2 {
  display: block;
  color: #fff;
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text_1 {
    font-size: 28px;
    @media screen and (min-width: 992px) {
      font-size: 32px;
    }
  }
  .text_2 {
    font-size: 36px;
    @media screen and (min-width: 992px) {
      font-size: 40px;
    }
  }
  .text_3 {
    font-size: 66px;
    @media screen and (min-width: 992px) {
      padding: 0px 105px 0 28px;
      font-size: 90px;
    }
  }
}

.under_orange {
  background: linear-gradient(transparent 70%, #ff533d 0%);
}

.band_type2 {
  background: #4d4d4d;
  padding: 30px 0;
  .band_inner {
    display: block;
    color: #fff;
    font-size: 32px;
    .text {
      text-align: center;
      font-size: 40px;
      letter-spacing: 0.05em;
      padding-bottom: 20px;
      font-feature-settings: "palt";
    }
    .img {
      width: 70%;
      margin: 0 auto;
    }
    @media screen and (min-width:992px) {
      position: relative;
      .text {
        font-size: 40px;
        padding-bottom: 0px;
        span {
          font-weight: bold;
          font-size: 60px;
        }
      }
      .img {
        position: absolute;
        right: 0px;
        bottom: -73px;
        width: 22%;
      }
    }
  }
}

.section6 {
  .subtitle_c {
    font-size: 26px;
    span {
      background: linear-gradient(transparent 70%, #ff0 0%);
    }
    @media screen and (min-width:992px) {
      font-size: 32px;
      line-height: 56px;
    }
    @media screen and (max-width:320px) {
      font-size: 23px;
    }
  }
}

.section7_inner_1 {
  display: block;
  background: #f0f0f0;
  border-radius: 20px;
  padding: 25px;
  font-size: 16px;
  text-align: center;
  margin-top: 35px;
  font-family: 'Noto Sans Japanese';
  .text2 {
    padding-top: 5px;
    color: #333;
    .fee2 {
      font-size: 50px;
      font-weight: bold;
      font-feature-settings: "palt";
    }
    .fee3 {
      font-size: 24px;
      position:relative;
      padding-left: 10px;
      &:before {
    content: "（税別）";
    position: absolute;
    font-size: 14px;
    top: -18px;
    left: 0px;
    display: inline-block;
    width: 64px;
}
    }
  }
  @media screen and (min-width:992px) {
    padding: 30px 0;
    font-size: 22px;
    .text2 {
      padding: 0px;
      .fee2 {
        font-size: 76px;
      }
      .fee3 {
        font-size: 36px;
        padding-left: 10px;
        &:before {
            font-size: 16px;
        }
      }
    }
  }
}

.section7_inner_2 {
  display: block;
  margin-top: 60px;
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: center;
    div {
      width: 50%;
    }
    .text {
      font-size: 14px;
    }
  }
}

.band_type3 {
  background: #4d4d4d;
  padding: 30px 15px;
  .band_inner {
    display: block;
    color: #fff;
    text-align: center;
    .text {
      font-size: 30px;
      letter-spacing: 3px;
      font-feature-settings: "palt";
    }
    @media screen and (min-width:992px) {
      .text {
        font-size: 40px;
        span {
          font-weight: bold;
          font-size: 60px;
        }
      }
    }
  }
}

.mt50{
  margin: 50px 0 10px;
}

.section7_text{
  background-color: #FFF4EF;
    border-radius: 10px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    @media screen and (min-width:992px) {
      padding: 10px 0;
      font-size: 18px;
    }
}
.section7 table{
  text-align: center;
  border:solid 1px #8d8d8d;
  width: 100%;
  th{
    background-color: #8d8d8d;
    color: #fff;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    @media screen and (min-width:992px) {
      padding: 10px 20px;
      font-size: 20px;
    }
  }
  .a{
      width: 25%;
      @media screen and (min-width:992px) {
        width: 18%;
      }
    }
  .b{
      border-left: solid 1px #f5f5f5;
      border-right: solid 1px #f5f5f5;
    }  
  .c{
    width: 18%;
    }
  td{
    padding: 20px;
    @media screen and (min-width:992px) {
      font-size: 20px;
      padding: 25px;
    }
    @media screen and (max-width:320px) {
      font-size: 16px;
    }
  }
  .d{
    font-weight: bold;
    font-size: 20px;
    span{
      font-size: 14px;
      font-weight: normal;
      padding-left: 5px;
    }
    @media screen and (min-width:992px) {
      font-size: 29px;
      span{
        padding-left: 10px;
        font-size: 16px;
      }
    }
    @media screen and (max-width:320px) {
      span{
      font-size: 11px;
      }
    }
  }
}

.section10 {
  margin-bottom: 40px;
}

.section10_inner {
  background-color: #FFF4EF;
  border-radius: 20px;
  padding: 60px 15px;
  @media screen and (min-width: 992px) {
    padding: 60px;
  }
}

.flow {
  margin: 0px;
  @media screen and (min-width: 992px) {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 40px;
  }
  .flow_inner {
    display: flex; //justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Japanese';
    padding: 20px 0px;
    border-bottom: dotted 1px gray;
    @media screen and (min-width: 992px) {
      display: block;
      text-align: center;
      padding: 0px;
      border: none;
    }
  }
  .text1 {
    width: 70px;
    text-align: center;
    border-radius: 20px;
    padding: 3px 0px;
    background: #ff533d;
    color: #fff;
    font-size: 14px; //font-weight: bold;
    @media screen and (min-width: 992px) {
      margin: 10px auto;
    }
  }
  .fas {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
      font-size: 38px;
      padding: 20px 0;
      color: #333;
    }
  }
  .text2 {
    padding-left: 20px;
    @media screen and (min-width: 992px) {
      padding-left: 0px;
      font-size: 15px;
    }
  }
}

.bg {
  @media screen and (min-width: 992px) {
    background-image: url(../images/arrow.png);
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: right 80px;
  }
}

.section8 {
  font-family: 'Noto Sans Japanese';
  background: #fafafa;
  .row {
    text-align: center;
    padding-top: 35px;
  }
  .fas {
    margin-top: 30%;
    font-size: 33px;
  }
  .circle-sym {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: #fff;
    border-radius: 50%;
    display: block;
    background: #8d8d8d; //background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    text-align: center;
    @media screen and (min-width: 992px) {
      width: 80px;
      height: 80px;
    }
  }
  .text1 {
    font-size: 14px;
    text-align: center;
    padding: 15px 0 10px;
    @media screen and (min-width: 992px) {
      font-size: 12px;
      height: 56px;
    }
  }
  .text2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 992px) {
      margin-bottom: 0px;
    }
  }
}

.section9 {
  margin-top: 0px;
  padding-top: 35px;
  @media screen and (min-width: 992px) {
    margin-top: 60px;
    padding-top: 0px;
  }
}

.voice {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
  margin-bottom: 70px;
  border-radius: 40px;
  overflow: hidden;
  display: block;
  .text {
    padding: 15px;
  }
  .voice_title {
    display: block;
    margin-top: 0px;
    .title1 {
      width: 100px;
      text-align: center;
      border-radius: 20px;
      padding: 6px 0px;
      background: #4d4d4d;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
      letter-spacing: 2px;
    }
    .title2 {
      font-size: 20px;
      font-weight: bold;
      color: #ff533d;
      line-height: 1.6em;
    }
  }
  .voice_text {
    font-size: 14px;
    line-height: 1.9em;
    margin: 20px 0;
    span {
      //background: linear-gradient(transparent 70%, #ff0 0%);
      font-weight: bold;
    }
  }
  @media screen and (min-width:992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #FFF4EF;
    box-shadow: none;
    .text {
      padding: 0 20px;
      width: 200%;
    }
    .img {
      width: 100%;
      padding: 0 20px;
      img{
        border-radius: 30px;
      }
    }
    .voice_title {
      display: flex;
      align-items: center;
      .title1 {
        margin-bottom: 0px;
        margin-right: 10px;
        padding: 8px 0px;
      }
    }
    .voice_text {
      margin-bottom: 0px;
    }
  }
}

.voice_type2 {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
  margin-bottom: 70px;
  border-radius: 40px;
  overflow: hidden;
  display: block;
  .text {
    padding: 15px;
  }
  .voice_title {
    display: block;
    margin-top: 0px;
    .title1 {
      width: 100px;
      text-align: center;
      border-radius: 20px;
      padding: 6px 0px;
      background: #4d4d4d;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
      letter-spacing: 2px;
    }
    .title2 {
      font-size: 20px;
      font-weight: bold;
      color: #ff533d;
    }
  }
  .voice_text {
    font-size: 14px;
    line-height: 1.9em;
    margin: 20px 0;
    span {
      //background: linear-gradient(transparent 70%, #ff0 0%);
      font-weight: bold;
    }
  }
  @media screen and (min-width:992px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -ms-inline-flexbox;
    -ms-flex-direction: row-reverse;
    background-color: #FFF4EF;
    box-shadow: none;
    padding: 40px 20px;
    .text {
      padding: 0px 20px;
      width: 200%;
    }
    .img {
      width: 100%;
      padding: 0 20px;
      img{
        border-radius: 30px;
      }
    }
    .voice_title {
      display: flex;
      align-items: center;
      .title1 {
        margin-bottom: 0px;
        margin-right: 10px;
        padding: 8px 0px;
      }
    }
    .voice_text {
      margin-bottom: 0px;
    }
  }
}



//強調
.under_bold {
  background: linear-gradient(transparent 70%, #ff0 0%);
  line-height: 1.3em;
  font-weight: bold; //font-size: 18px;
}

//お問い合わせ 背景画像
.bg_contact_2 {
  background-image: url(../images/mv.png);
  background-size: cover;
  background-position: center;
  background-position: 50% 25%;
}


#company__profile{
  // .link{
  //   text-decoration: underline;
  //   font-size: 16px;
  // }
  .fa-external-link-alt{
    padding-left: 10px;
  }
  .col-sm-6{
    @media screen and (min-width:992px) {
    width: auto;
  }
  }
}


//バナー
.bnr{
  display: block;
   @media screen and (min-width:992px) {
    display: flex;
   }
  .p-2-s-5{
    width: 50%;
    float:left;
    padding: 0 6px;
    margin-bottom: 15px;
    @media screen and (min-width:992px) {
      width: 20%;
      padding: 0 15px;
    }
  }

  img{
    background-color: white;
    padding: 3px;
    border: 1px solid #ddd;
    vertical-align: bottom;
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    &:hover {
     opacity: .6;
   }
  }
}



/* -----------------------------------------------
  breadcrumb
----------------------------------------------- */

.breadcrumb {
  @include clearfix;
  padding: 0;
  margin: 0 auto;
}

.breadcrumb__cont {
  padding: 0 0 0 2%;
  li {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px 0 10px;
    line-height: 40px;
    display: inline;
    &:first-child {
      padding: 0 20px 0 0;
    }
    &:last-child {
      padding: 0 0 0 10px;
    }
    &:after {
      content: "/";
      position: absolute;
      top: 0;
      right: 2px;
      padding-left: 12px;
    }
    &:last-child:after {
      content: "";
    }
    a {
      font-size: $font-small;
      @include link-color($text-color);
      &:hover {
        border-bottom: 1px solid $text-color;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  /*　for PC-large　*/
  .breadcrumb__cont {
    max-width: $cont-size;
    margin: 0 auto;
  }
}


/* -----------------------------------------------
  button
----------------------------------------------- */

.btn {
  width: 100%;
  padding: 12px;
  font-size: $font-size;
}

.btn-success {
  background-color: $main-color;
  border-color: $main-color;
  &:hover, &:active, &:visited, &:focus {
    background: $main-color;
    border-color: $main-color;
    color: $color-00;
    &:hover, &:focus {
      background: $main-color;
      border-color: $main-color;
    }
  }
  &:hover {
    @include hover-effects;
  }
}

.btn-inquiry {
  display: table;
  width: 100%;
  margin: 20px 0 35px;
  a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    height: 111px;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    color: $color-00;
    border-radius: 10px;
    box-shadow: 0px 20px 20px -15px grey;
    transition: all 1s;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 20px 15px -10px grey; // 	@include hover-effects;
    }
  }
  .btn-inquiry__tel {
    font-size: $font-xx-large; // &:before {
    // 	content: '\f2a0';
    // 	@include fontawesome;
    // }
  }
  .fa-phone-volume {
    font-size: 32px;
    padding-right: 10px;
  }
  .btn-inquiry__enquiry {
    font-size: $font-x-large;
    @media screen and (max-width:320px) {
      font-size: 21px;
    }
  }
  span {
    display: block;
    font-size: $font-small;
  }
}

.fa-envelope {
  font-size: 30px;
  padding-right: 10px;
}

.btn-border {
  @include btn-border($color-02);
  a {
    color: $color-01;
  }
}

.top-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 9999;
  a {
    display: block;
    background: $color-01;
    border-radius: 4px;
    content: "";
    width: 60px;
    height: 60px;
    @include arrow-top($color-00);
    &:hover {
      @include hover-effects;
    }
  }
}

@media screen and (min-width:767px) {
  /*　for PC, tablet　*/
  .btn-middle {
    display: table;
    max-width: $cont-size-xx-small;
    margin: 0 auto;
  }
}



/* -----------------------------------------------
  会社概要
----------------------------------------------- */

.reception {
  font-size: 14px;
  @media screen and (min-width: 992px) {
    font-size: 18px;
  }
}

#company__profile {
  font-size: 16px;
  a {
    text-decoration: underline;
    &:after {
      // font-family: "Font Awesome 5 Free";
      font-family: 'Font Awesome 5 Free';
      content: '\f35d';
      padding: 0 0 0 .4em;
      font-weight: 900;
      
    }
  }
  @media screen and (min-width: 992px) {
    font-size: 18px;
    .cont-size900 {
    .col-sm-6 {
        width: 50%;
      }
    }
  }
}

.dl-responsive {
  padding: 15px 0 15px 0;
  border-top: 1px solid #eee;
  @media screen and (min-width: 992px) {
    border:none;
    padding: 0;
  }
}

.jumbotron{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* -----------------------------------------------
  title
----------------------------------------------- */

.h2 {
  font-family: 'Noto Sans Japanese';
  color: $color-01;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0;
  line-height: 32px;
  @media screen and (min-width: 992px) {
    font-size: 30px;
    margin: 25px 0;
  }
  @media screen and (max-width: 320px) {
    font-size: 22px;
  }
}

.subtitle_b {
  font-family: 'Noto Sans Japanese';
  color: $color-01;
  font-size: 24px;
  text-align: center;
  margin: 30px 0 50px;
  font-weight: bold;
  letter-spacing: 3px;
  .subtitle_b-emphasis {
    color: $main-color;
    font-size: 42px;
    font-weight: bold;
  }
  @media screen and (min-width:992px) {
    margin: 20px 0 60px;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
  }
  @media screen and (max-width:320px) {
    font-size: 22px;
  }
}

.subtitle {
  font-family: 'Noto Sans Japanese';
  color: #ff533d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5em;
  text-align: center;
  span {
    padding-bottom: .25em;
    border-bottom: 2px solid #ff533d;
  }
  @media screen and (min-width:992px) {
    //margin: 20px 0 60px;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 1px;
  }
}

.subtitle_c {
  font-family: 'Noto Sans Japanese';
  color: $color-01;
  font-size: 26px;
  text-align: center;
  margin: 20px 0 40px;
  font-weight: bold;
  letter-spacing: 3px;
  @media screen and (min-width: 992px) {
    font-size: 42px;
    line-height: 66px;
  }
  @media screen and (max-width:320px) {
    font-size: 22px;
  }
}

.subtitle_d {
  color: $color-01;
  font-size: 18px;
  text-align: center;
  margin: 30px 0 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-feature-settings: "palt";
  @media screen and (min-width: 992px) {
    margin: 20px 0 40px;
    font-size: 20px;
    line-height: 38px;
  }
  @media screen and (max-width:320px) {
    font-size: 22px;
  }
}

.subtitle_e {
  color: $color-01;
  border-left: solid 2px #333;
  font-size: 18px;
  margin: 30px 0 20px;
  font-weight: bold;
  padding-left: 10px;
  @media screen and (min-width: 992px) {
    margin: 20px 0px;
    font-size: 20px;
    line-height: 38px;
  }
}

.subtitle_type4 {
  text-align: center;
  color: #fff;
  font-size: 26px;
  padding: 10px 15px;
  line-height: 1.6;
  margin: 0px;
  font-family: 'Noto Sans Japanese';
  letter-spacing: 0.15em;
  @media screen and (min-width: 992px) {
    font-size: 34px;
    padding: 10px 15px;
  }
}


/* -----------------------------------------------
  table
----------------------------------------------- */

.table {
  >tbody {
    >tr {
      >th, >td {
        width: 100%;
        padding: 8%;
      }
    }
  }
  &.table__small {
    >tbody {
      >tr {
        >th, >td {
          padding: 20px;
        }
      }
    }
  }
}

.table__basic {
  tr {
    th, td {
      padding: 4%;
    }
  }
  dl {
    dt, dd {
      padding: 2% 0 2% 0;
    }
  }
}

.table__line {
  border: 1px solid $color-02;
}

@media screen and (max-width:767px) {
  /*　for mobile　*/
  .table {
    >tbody {
      >tr {
        display: block;
        >th {
          display: block;
        }
        >td {
          display: block;
          padding: 0 8% 8%;
          border-top: none;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  /*　for tablet~　*/
  .table {
    >tbody {
      >tr {
        >th, >td {
          width: auto;
          padding: 40px;
        }
      }
    }
  }
}


/* -----------------------------------------------
  form
----------------------------------------------- */

.form-list {
  overflow: hidden;
  margin: 0 auto 3%;
  padding: 0 0 3%;
  border-bottom: 1px solid $color-02;
  font-size: $font-size;
  @include clearfix;
  dt {
    margin: 0 0 2%;
    font-weight: bold;
  }
  dd {
    width: 100%;
    input[type="text"], input[type="email"], input[type="tel"], select, textarea {
      @include placeholderColor($color-03);
      padding: 2%;
      width: 100%;
      border: 1px solid $color-03;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: $font-size;
    }
    textarea {
      min-height: 8em;
      height: 250px;
    }
    li {
      margin: 0 0 2%;
    }
    small {
      display: block;
      margin: 4% 0 0;
      padding: 2%;
      color: $color-01;
      background: $color-00;
    }
    input[type="radio"], input[type="checkbox"] {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      margin-right: 0.5em;
    }
    .cautions {
      background: rgba($main-color, 0.1);
    }
    #kind_01, #kind_02, #kind_03, #kind_04 {
      float: left;
      margin-left: 15px;
    }
    .vertical {
      label {
        margin-bottom: 10px;
      }
    }
  }
  label {
    display: block;
    font-weight: normal;
  }
  a {
    border-bottom: 1px solid $color-01;
  }
}

.form-list__radio {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li {
    display: table-cell;
    width: 50%;
    padding: 2%;
    text-align: center;
    input {
      position: relative;
      top: 2px;
    }
  }
}

.form-list__icon {
  display: inline-block;
  margin: 0 2% 0 0;
  padding: 0 2%;
  color: $color-00;
  font-size: $font-small;
  background: $main-color;
  border-radius: 4px;
}

// .scroll-box {
// 	overflow-x: auto;
// 	margin: 0 0 8%;
// 	padding: 4%;
// 	height: 5em;
// 	font-size: 16px;
// 	border: 1px solid $bg-color-5;
// 	dt {
// 		margin: 0 0 2%;
// 		font-weight: bold;
// 	}
// 	dd {
// 		margin: 0 0 2%;
// 		line-height: 1.5;
// 	}
// }
.button.form-01 {
  display: block;
  margin: 60px auto;
  width: 100%;
  text-align: center;
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 2px solid $color-01;
    background: $color-00;
    font-size: $font-x-large;
    -webkit-appearance: none;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      @include hover-effects;
    }
  }
}

@media ( min-width: 768px) {
  /* for tablet~ */
  .form-list {
    display: table;
    width: 100%;
    dt {
      display: table-cell;
      width: 30%;
      vertical-align: middle;
    }
    dd {
      display: table-cell;
      width: 70%;
    }
  }
  .button.form-01 {
    max-width: $cont-size-xx-small;
  }
}


/* -----------------------------------------------
  copyright
----------------------------------------------- */

.copyright {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  font-size: $font-x-small;
}